
    


.i input {
    border-radius: 0px;
    width: 200px;
    margin-right: 0.7px;
    padding: 10px;
    border: none;
    background-color: #051937;
}

.i input:hover{
    background-color:#051937;
    border:none;
    color:aliceblue;
}

