.section{
    width: 270px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
    background-color: #f1f7f7;
    margin: 10px;
   
    
}

.box{
    display: flex;
    align-items: center;
    
}
.bx{
    display: flex;
    align-items: center;
}